*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

h1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgb(206, 218, 248);
}

.container{
    max-width: 800px;
    margin: 0 auto;
    /* padding: 50px 0; */
    /* border: 1px solid red; */
}

nav a{
    text-decoration: none;
    border: solid #ccc 1px;
    padding: 5px 15px;
    margin-right: 10px;
    color: black;
    border-radius: 5px;
    transition: background-color 0.5s;
}

nav a:hover{
    background-color: black;
    color: #fff;
}

nav a:last-child{
    margin-right: 0;
}

/*
 *****POST.PHP HERE
*/
.post{
    margin-top: 50px;
    box-shadow: 2px 4px 12px rgba(230,230,230,0.75);
    padding: 10px 30px;
}

.post:first-child{
    margin-top: 0;
}

p{
    line-height: 1.4rem;
    font-weight: 300;
    font-size: 15px;
    color: #313131;
}

.post-title{
    margin-bottom: 10px;
    font-weight: 600;
}

.post-title a{
    color: tomato;
    text-decoration: none;
}

.post-title a:hover{
    text-decoration: underline;
}

.post-meta{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    font-size: 12px;
    font-weight: bold;
}

.post-meta-ratings{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.post-meta-ratings div{
    margin: 0 10px;
    flex: 1;
}

.post-content{
    margin-bottom: 20px;
}

.ctrl-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*GENERAL STYLING*/
button,.edit-btn{
    outline: none;
    margin: 5px 10px;
    cursor: pointer;
    border: solid #ccc 1px;
    padding: 5px 15px;
    color: black;
    border-radius: 5px;
    transition: background-color 0.5s;
}

button:first-child{
    margin-left: 0;
}

button:hover, .edit-btn:hover{
    background-color: black;
    color: #fff;
}

.edit-btn{
    text-decoration: none;
    margin: 5px 0px;
}
/*GEN ENDS HERE*/

.comment-form{
    padding: 8px 0;
    display: none;
}

.comment-inp-grp{
    width: 100%;
}

#comment{
    padding: 8px;
    outline: none;
    outline-style: none;
    width: 80%;
    -moz-outline-style: none;
    overflow: hidden;
    resize: none;
    border-radius: 5px;
}

.comments-made{
    padding: 19px 41px;
    font-family: 'Open Sans', sans-serif;
    background: rgba(232, 228, 228, 0.3);
    margin-bottom: 20px;
}

.auth-time-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.right-side{
    padding: 5px;
    margin: 5px 0;
    width: 50%;
    display: flex;
    justify-content: space-around;
    background-color: lavender;
    border-radius: 6px;
}

.comments-wrapper{
    padding: 15px 30px;
    display: none;
}

.show{
    display: block;
}

/*LOGIN PHP HERE*/
.form-container{
    display: flex;
    justify-content: space-between;
}

.form-container>*{
    flex: 1;
    height: 75vh;
}

.img-side{
    background: #ccc url("../img/happy-cute-kid-play-with-friend-together_97632-932.jpg") no-repeat fixed center;
    background-size: cover;
}

.join-form{
    background-color: rgba(0, 0, 0, 0.178);
    margin: auto;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-form form{
    width: 80%;
    margin: auto;
}

.join-form input{
    width: 100%;
    height: 45px;
    padding: 5px;
    color: rgb(30, 33, 235);
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}

.inp-grp{
    margin: 15px 0;
}

.show-success{
    color: rgb(253, 253, 253);
    background-color: rgb(9, 190, 18);
    padding: 8px;
    border-radius: 5px;
    width: 80%;
    margin: 7px auto;
}

.show-error{
    color: #ccc;
    background-color: rgb(253, 38, 38);
    padding: 8px;
    border-radius: 5px;
    width: 80%;
    margin: 7px auto;
}

.show-error::before,.show-success:before{
    content: "*";
    margin: 0 5px;
}

/*
* Create Posts HERE!
*/

.form-container-post{
    /* border: 1px solid red; */
    background-color: #fff;
    box-shadow: 0px 5px 8px #ccc;
    width: 75%;
    margin: auto;
    padding: 1.5rem 0;
}

.form-container-post .inp-grp{
    width: 80%;
    margin: 20px auto;
    /* border: 1px solid green; */
}

.form-container-post .inp-grp label{
    color: rgb(0, 0, 0);
}

.form-container-post .inp-grp input{
    width: 90%;
    height: 2.1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 7px;
    font-size: 1.2rem;
}

.form-container-post .inp-grp textarea{
    width: 90%;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 7px;
    font-size: 1.2rem;
}

.sub-grp{
    width: 80%;
    margin: 20px auto;
}